@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Varela Round', sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
}
h3,
h1 {
  font-size: 18px;
}
button {
  font-family: inherit;
  font-weight: 100;
}
.dark-mode {
  background-color: #fedf7e;
  color: #000;
}
.light-mode {
  background-color: #f6f6f8;
  color: #000;
}
/* Theme */
#light {
  width: 100vw;
  height: 100%;
}
#dark {
  width: 100vw;
  height: 100%;
}
#dark .active {
  color: #13131a;
}
#dark .sidebar {
  background: #fedf7e;
  color: #13131a;
}
button {
  font-family: inherit;
}
/* PAGINATION */
.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .pag-text {
    background-color: #ffe48e;
    color: #000;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  .pag-text:disabled {
    border: none;
    background-color: #f6f6f8;
    cursor: not-allowed;
  }
  .page-numbers {
    display: flex;
  }
  .page-numbers button {
    background-color: transparent;
    border: none;
    color: #000;
    padding: 7px 10px;
    margin: 0 2px;
    cursor: pointer;
  }
  .page-numbers button.active {
    background-color: #ffe48e;
    color: #000;
    border-radius: 50px;
  }

/* Temporary */
td {
  font-size: 13px;
}
select,
input {
  background-color: transparent;
  outline: none;
}
.page-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
}
.page-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
}
.l-spinner {
  border: 3px solid #fff;
  border-top: 3px solid #fedf7e;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 2000px) {
  .app {
    max-width: 1900px;
    margin: 0 auto;
  }
}
