@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Varela Round', sans-serif;
}
/* Theme */
#light {
  width: 100vw;
  height: 100%;
}
#dark {
  width: 100vw;
  height: 100%;
}
#light .sidebar-btn {
  color: #000;
}
#dark .sidebar-btn {
  color: #ffe48e;
}

#light .sidebar {
  background: #ffffff;
  color: #000;
}
#dark .sidebar {
  background: #000;
  color: #fff;
}
#light .header {
  background: #ffffff;
  color: #000;
}
#dark .header {
  background: #000;
  color: #fff;
}
#dark .links {
  color: #fff;
}
#dark .active {
  background: #fff;
  color: #13131a;
}
